.body {
  background-color: #fbf8f3;
}

#menu {
  margin: 10px 100px 0;
  padding-bottom: 60px;
}

.header-background {
  background-color: #fbf8f3;
}

.navbar-nav {
  margin-left: 350px;
}

.nav-item {
  padding-right: 10px;
}

.header-button {
  margin-left: 200px;
}

.sign-up-button {
  background-color: #4d13d1;
  border-color: #4d13d1;
}

.sign-in {
  text-decoration: none;
  padding-right: 20px;
  color: #000000;
}
.sign-in:hover {
  color: #000000;
}

/* Row1 */
.row-header {
  margin-top: 100px;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  font-weight: bold;
}
/* Container2 */
.container2 {
  background-color: #ffffff;
  padding-top: 50px;
}

#section2 {
  margin: 10px 100px 0;
}

h6 {
  margin-top: 12px;
}

.blue-bg {
  background-color: #4d13d1;
  margin-top: 60px;
  padding-top: 100px;
}

.blue-text {
  padding-left: 50px;
  margin: 70px 0 100px;
}
